* { 
    margin: 0;
    padding: 0;
    font-family: 'Courier New', sans-serif;
    box-sizing: border-box;
}

body {
    justify-content: center;
}

.box-wrapper {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    /* width: 80vw; */
}

.left-column div {
    margin: 8 8px;
    /* border: solid 1px rgb(136, 0, 255); */
    /* background-color: rgb(201, 145, 251); */
}

/* .left-column div+div {
    margin-top: 8px;
} */

.bank{
    background-color: rgb(227, 200, 240);
    /* height: 2.5vh; */
}


#gamebox {
    flex-grow: 1;
    flex-direction: column;
    /* border: solid 1px rgb(136, 0, 255);  */
    height: 75%; 
}

#numberInput {
    font-size: larger;
}

#earn{
    font-size: x-large;
}

#winnableAmount {
    font-size: x-large;
}

#timer {
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
    width: 50%;
    top: 50%;
    padding: 10px;
    border-radius: 150px;
}

.chickencoop {
    flex-grow: 1;
    /* border: solid 3px rgb(136, 0, 255); */
    /* height: 180; */
    height: 25%;
    /* width: 85vw; */
    /* position: absolute; */
    /* bottom: 0; */
 }

.background-field {
    height: 200px;
    width: 1200px;
    background-image: url("images/chickenCoopBG.gif"); 
}

#myChickens {
    z-index: 1;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin-left: 0;
 }


.right-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* width: 20vw; */
}

.right-column div {
    margin: 0 8px;
    /* border: solid 1px rgb(136, 0, 255); */
}

.right-column div+div {
    margin-top: 8px
}

#histbox{
    flex: 2;
    /* height: 20px; */
    /* min-height: 75vh; */
    /* margin: 10px; */
    border: solid 1px rgb(136, 0, 255);
    /* height: 70%;
    width: 90%; */
}  

#ragebox {
    /* position: absolute; */
    /* bottom: 0; */
    height: 25%;
    width: 25%; 
    /* flex: 1;  */
}

/* marquee{
    position: relative;
    z-index: 9999;
    height: 180px;
    width: 100%;
    flex-grow: 1;
} */

#losepopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  #losepopup h2 {
    margin-bottom: 10px;
  }

  #close-btn {
    cursor: pointer;
    color: #333;
    background-color: #ddd;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  #winPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  #losepopup h2 {
    margin-bottom: 10px;
  }
