* { 
    margin: 0;
    padding: 0;
    font-family: 'Courier New', sans-serif;
    box-sizing: border-box;
}

.navbar {
    background: #FFFFFF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__all {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
    align-items: center;
    -webkit-text-fill-color: black;
    flex-grow: 1;
}

/* Popup container */
.sellPopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.buyPopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* The actual popup */
.sellPopup .sellChickenText {
    visibility: hidden;
    width: 200px;
    background-color: #e8c3f8;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 100px 0;
    position: absolute;
    z-index: 1;
    bottom: 400%;
    left: 50%;
    margin-left: -80px;
    }


.buyPopup .buyChickenText {
    visibility: hidden;
    width: 200px;
    background-color: #e8c3f8;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 100px 0;
    position: absolute;
    z-index: 1;
    bottom: 400%;
    left: 50%;
    margin-left: -80px;
    }

/* .sellPopup#sellChickenNum {
    visibility: hidden;
    width: 200px;
    background-color: #e8c3f8;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 100px 0;
    position: absolute;
    z-index: 2;
    bottom: 400%;
    left: 50%;
    margin-left: -80px;
    } */
  
/* Hide and show the popup */
.sellPopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
.buyPopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

#close {
    position: absolute;
    right: 0;
    top: -1px;
    background: #ffffff;
    cursor: pointer;
}

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

body {
    margin: 1%;
    justify-content: center;
}

.box-wrapper {
    text-align: center;
    display: flex;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.left-column div {
    margin: 8 8px;
    border: solid 1px rgb(136, 0, 255);
}

.left-column div+div {
    margin-top: 8px;
}


#gamebox {
    flex-grow: 2;
    flex-direction: column;
    /* border: solid 1px rgb(136, 0, 255);  */
    height: 450px; 
}

#numberInput {
    font-size: larger;
}

#winnableAmount {
    font-size: x-large;
}

#timer {
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
    width: 50%;
    top: 50%;
    padding: 10px;
    border-radius: 150px;
}

#chickencoop {
    flex-grow: 1;
    border: solid 1px rgb(136, 0, 255);
    background-image: url("images/Untitled_Artwork.gif");
    height: 200;
    width: 1200;
 }


marquee{
    position: relative;
    /* z-index: 9999; */
    height: 200px;
    /* width: 100%; */
    flex-grow: 1;
}

.right-column {
    display: flex;
    flex-direction: column;
}

.right-column div {
    margin: 0 8px;
    border: solid 1px rgb(136, 0, 255);
}

.right-column div+div {
    margin-top: 8px
}

#histbox{
    flex-grow: 1;
    height: 50px;
}