* { 
    margin: 0;
    padding: 0;
    font-family: 'Courier New', sans-serif;
    box-sizing: border-box;
}

/* .rules {
    width: 300px;
    height: inherit;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: #7d3b86;
    transform: translateY(-70vh);
    padding: 150px 0;
    position: absolute;
    cursor: pointer;
    bottom: 30%;
    left: 30%;
    border-radius: 6px; */


/* #rulesClose {
    position: absolute;
    right: 0;
    top: -1px;
    background: #ffffff;
    cursor: pointer;
} */

/* .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  } */

  /* Styles for the popup */
  /* .popup {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  } */

body {
    /* margin: 1%; */
    margin: 0;
    justify-content: center;
}

.box-wrapper {
    text-align: center;
    display: flex;
    width: 100vw;
    /* height: 1000; */
}

.left-column {
    display: flex;
    flex-direction: column;
    /* width: 80vw; */
}

.left-column div {
    margin: 8 8px;
    /* border: solid 1px rgb(136, 0, 255); */
    /* background-color: rgb(201, 145, 251); */
}

.left-column div+div {
    margin-top: 8px;
}

.bank{
    background-color: rgb(227, 200, 240);
}


#gamebox {
    flex-grow: 1;
    flex-direction: column;
    /* border: solid 1px rgb(136, 0, 255);  */
    height: 70vh; 
}

#numberInput {
    font-size: larger;
}

#winnableAmount {
    font-size: x-large;
}

#timer {
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
    width: 50%;
    top: 50%;
    padding: 10px;
    border-radius: 150px;
}

#chickencoop {
    flex-grow: 1;
    /* border: solid 3px rgb(136, 0, 255); */
    /* height: 180; */
    height: 30vh;
    /* position: absolute; */
    /* bottom: 0; */
 }

 #myChickens {
    position: absolute;
    z-index: 1;
    bottom: 0;
 }

/* marquee{
    position: relative;
    z-index: 9999;
    height: 180px;
    width: 100%;
    flex-grow: 1;
} */

.right-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* width: 20vw; */
}

.right-column div {
    margin: 0 8px;
    /* border: solid 1px rgb(136, 0, 255); */
}

.right-column div+div {
    margin-top: 8px
}

#histbox{
    flex-grow: 1;
    /* height: 20px; */
    /* min-height: 75vh; */
    border: solid 1px rgb(136, 0, 255);
    height: 70vh;
    width: 200px;
}  

#ragebox {
    /* position: absolute; */
    /* bottom: 0; */
    height: 30vh;
}